@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione estilos globais customizados aqui */
body {
  font-family: sans-serif;
  background-color: #f4f4f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
